<table>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <th><%= link_to comment.titleid, comment %></th>
      </tr>
      <tr>
        <td><%= comment.name %></td>
      </tr>
      <tr>
        <td><%= comment.comment %></td>
      </tr>
      <tr>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Hapus', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
